.intro{
    font-family: 'Poppins', sans-serif;
    font-weight: 650;
    color: #41418c;
    font-size: 44px;
    line-height: 60px;
}
.bg-img{
    background-color: #ffffff;
    /* height: 85vh; */
}
/* .box{
    display: none;
} */
.main{
    margin-top: 20px;
    margin-bottom: 80px;
}
.nav-link{
    color: #41418c!important;
}
.nav-link:hover{
    color: #0c0c72!important;
}
.styleBtn{
    Background-color: #3d3da2de;
    color: white;
}
.styleBtn:hover{
    color: #41418c;
    background-color: white;
    border: 1px solid #41418c;
}
#img{
    height: 650px;
    width: 620px;
    /* margin-bottom: 50px; */
    /* position: relative; */
}
.introMar{
    padding: 30px 40px;
    margin: auto;
}
.intro-wrap {
    line-height: 28px;
    color: gray;
    font-weight: 420;
    margin-bottom: 10px;
}
.bttn button {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    color: #41418c;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border-radius: 30px;
    border: 2px solid #41418c;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #41418c;
   }
.modal-content{
    /* text-align: c÷enter!important; */
    padding: 40px;
}
.modal-body{
    text-align: center;
}   
#TakeNum{
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid lightgray;
    border-radius: 14px;
    color: black;
}
#TakePassword{
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid lightgray;
    border-radius: 14px;
    color: black;
}
.modal-footer{
    justify-content: center;
}
.bttn button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #41418cd2;
   }
   
.bttn button:active {
    transform: scale(0.9);
   }

.cross{
    display: flex;
    justify-content: center;
}   
@media only screen and (max-width:991px) {
    .responsive{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:20px;
    }
    .introMar{
        padding: 30px 40px;
        margin: auto;
    }
    .intro{
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
    }
    .intro-wrap {
        line-height: 28px;
        color: gray;
        font-weight: 420;
        margin-bottom: 15px;
        text-align: center;
    }
   .bttn{
      text-align: center;
   }
}
/* #svg{
    position: relative;
    background-size: cover;
    background-position: bottom;
} */