.prc{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 15px;
}


.dropdown-menu {
    width: auto;
    height: auto;
    border-radius: 10px;
    background: #fdfafa;
    box-shadow: 15px 15px 30px #e3dddd, 15px -15px 30px #e1e1e1;
}

.cards{
    margin-top: 30px;
    border-radius: 12px;
}
.Card-text{
    padding: 15px;
}
.cards:hover{
    box-shadow: 15px 15px 30px #d6d3d3,
                -15px -15px 30px #ffffff;
    transition: ease-out 0.1s;
}
.card1 {
    /* width: 38vw; */
    /* height: 10vh; */
    /* border-radius: 30px; */
    background-color: #47c5f4;
    background-image: linear-gradient(315deg,#47c5f4 0%,#6791d9 74%);
   }
 
.card2{
    /* width: 38vw; */
    /* height: 10vh; */
    background-color: #eb4786;
    background-image: linear-gradient(315deg,#eb4786 0%,#b854a6 74%);
}

.card3{
    background-color: #875fc0;
    background-image: linear-gradient(315deg,#875fc0 0%,#5346ba 74%);

}
.card4{
    background-color: #47c5f4;
    background-image: linear-gradient(315deg,#47c5f4 0%,#6791d9 74%);
}

.Card{
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid #ebedf2;
}

/* .Card:hover{
    box-shadow: 0px 2px 8px lightgray;
    border-radius: 25px;
    transition: all 0.1s;
} */
.headerC{
    background-color: #fff;
}

.td-first{
    font-weight: 500;
}

.crtp{
    padding: 30px;
    margin-top: 20px;
    border: 1px solid #ebedf2;
    border-radius: 8px;
}
.crtp h4{
    margin-bottom: 20px;
}
.navTextA{
    text-decoration: none;
}
.p-2{
    padding: 0px 45px!important;
}
@media only screen and (max-width:991px) {
    .dashboardNav{
        display: none;
    }
    .crtp{
        padding: 10px;
        margin-top: 20px;
        border: 1px solid #ebedf2;
        border-radius: 8px;
        margin-left: 20px;
        margin-bottom: 80px;
    }
    .Card{
        padding: 10px;
        margin-top: 20px;
        border-radius: 8px;
        border: 1px solid #ebedf2;
        margin-left: 20px;
    }
}

@media only screen and (max-width:631px) {
    .p-2{
        padding: 0.2rem!important;
    }
}